@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');

form{
  padding:50px;
}

title{
  font-family: 'Festive', cursive;

}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-top:10px;
  

}

.flex-container > button {

  width: 105px;
  margin: 2px;
  padding:2px;
  font-size: 15px;
  font-weight: 400;
}

.flex-container >select
{
  width: 105px;
  margin: 2px;
  padding:2px;
  font-size: 15px;
  font-weight: 400;
}


.Logo{
  font-family: 'Festive', cursive;
  margin-left: 10px;
  font-size: 34px;
  font-weight: bold;
}

.bottomSection{
  display: flex;
  justify-content:space-between;

}


.form-check-input:checked {
  background-color: var(--bs-yellow);
  border-color: var(--bs-purple);
}